<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- dispatcher servlet 관련 설정 -->

    <!-- web.xml에 설정 등록 -->
    <!-- root.context.xml 파일의 경로를 param-value로 등록해야함 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

<!--    서블릿 관련 설정 (파일 불러오기....)-->
<!--    dispatcher servlet 설정 -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/servlet-context.xml</param-value>
        </init-param>

        <!-- -->
        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>

      <load-on-startup>1</load-on-startup> <!--  시작시 불러와라 라는 명령-->
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern> <!-- 요청을 처리할 범위 "/" == 모든 요청 -->
    </servlet-mapping>

<!--    <filter>-->
<!--        <filter-name>encoding</filter-name>-->
<!--        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->

<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

        <filter>
            <filter-name>filter</filter-name>
            <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

            <!-- 파라미터의 이름은 무조건 설정하는 필터와 일치해야한다 예(Character incoding -> encoding) -->
            <!-- 다른 이름으로 할 경우 에러를 던짐 -->
            <init-param>
                <param-name>encoding</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
        </filter>

    <filter-mapping>
        <filter-name>filter</filter-name>
        <servlet-name>appServlet</servlet-name>
    </filter-mapping>


<!--    <filter-mapping>-->
<!--        <filter-name>encoding</filter-name>-->
<!--        <servlet-name>appServlet</servlet-name> &lt;!&ndash; 필터는 요청과 응답을 처리하는 서블릿에 넣어서 작동시켜야 한다 (urlPattern이 아니라는 소리) &ndash;&gt;-->
<!--    </filter-mapping>-->

</web-app>