<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--    서블릿 관련 설정 (파일 불러오기....)-->
    <!--    dispatcher servlet 설정 -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/spring/servlet-context.xml
            </param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern> <!-- 모든 경로에 대해서 servlet-context.xml을 읽는다 -->
    </servlet-mapping>

    <!-- 한글 처리를 하기 위해서 Spring의 필터를 설정해준다. -->
    <!-- 필터는 web.xml에 등록해야 한다. [파일을 생성해 불러오지 않는다(web.xml 내부적으로 처리)] -->
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding</filter-name>
        <servlet-name>appServlet</servlet-name> <!-- 필터는 요청과 응답을 처리하는 서블릿에 넣어서 작동시켜야 한다 (urlPattern이 아니라는 소리) -->
    </filter-mapping>

    <!-- Servlet에 필터를 넣어서 작동 시키게 함 -->
    <!-- 그리고 web.xml은 제시작 해서 필터를 받아야함 -->

</web-app>